//seccion naomi

.container {
    padding-top: 30px;
    padding-bottom: 30px;

    .naomi_img{
        width: 150px;
        display:block;
        margin:auto;   
        border-radius: 50ch;
    }
    .card-body {
        padding: 0;
    }
    .card-title {
        font-style: italic;
        padding-top: 20px;
        margin-bottom: 3px;
        text-align:center;
       
    }
    .card-text {
        color: $spanishpink;
        margin-bottom: 0px;
        padding-bottom: 0px;
        text-align:center;
    }
    .naomi_text{
        padding-top: 18px;
        padding-left: 5px;
    }   
}
    