.header_imagen {
    background-image: url("../img/post-image.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    padding-top: 100px;
    background-position: center;
    
} 
.titulo{
    font-style: italic;
    font-family: $roboto;
    font-size: 60px;
    padding-bottom: 5rem;
}




   